body {
  background: {
    color: $bgcolor;
    image: url("/assets/images/bg.png");
    repeat: repeat;
  }
}

#header {
  background: {
    image: url("/assets/images/header.png");
    position: center;
    repeat: no-repeat;
  }
  min-height: 194px;
}
