<div id="header">
  <div class="row">
    <div class="large-5 columns text-right"><img src="/assets/images/bw-logo.png" alt="brilliant fantastic" class="header-logo" /></div>
    <div class="large-7 columns text-left">{{partial "nav"}}</div>
  </div>
</div>
